


/* ---------------------------
	  Layout (Start Here)
--------------------------- */


html {
	font: bold arial, helvetica, sans-serif;
	align: center;
}

body {
}

section {
}

#about {
	
}
#about h1 {
	align: center;
	color: #000;
	font-weight: bold;
	text-align: center;
	background-color: #884477;
	font-size: 180%;
	padding: 2em 3em 1em 3em;
}
#about p {
	font-style: italic;
	color: #000;
	font-size: 70%;
	background-color: #884477;
	text-align: center;
	padding: 0em 0em 3.5em 0em;
}
#why {
	
}

#why blockquote{
	text-align: center;
	background-color: #222;
	color: #fff;
	font-size: 153%;
	padding: 3em 5em 4em 5em; 
}

#why blockquote p{
}

#why blockquote cite {
	padding: 1em 6em 5em 6em; 
	font-style: italic;
}

#contact {
	
}

#contact form {
	background-color: #114422;
	margin: auto;
	padding: 3em 23em 3em 23em;
	font-size: small;	
}

#contact form label {
	color: #fff;
}

#contact form input {
}

#contact form textarea {
}

#contact form button {
	display: block;
	font-size: 110%;
	margin: auto;
	max-width: 12em;
	background-color: #fff;
	border: 1.8px solid black;
	padding: 1em;
	font-weight: bolder;
}

footer {
	background-color: #228833;
	margin: auto;
	color: #fff;
	text-align: center;
	font-size: small;
	padding: 2em;
	font-weight: bolder;
}

