nav {
	background-color: #111;
	text-align: center;
}
nav ul {
	list-style: none;
}
nav ul li {
	display: inline-block;
	margin: 0 8%;
	background-color: #555;
	padding: .5em 1em;
	
}
nav ul li a {
	color: #fff;
	text-decoration: none;
}
section {
	padding: 4em 5em;
}
section blockquote,
section div,
section figure {
	display: inline-block;
	width: 40%;
	vertical-align: middle;
	padding: 4%;
	font-size: 1.2em;
}
section blockquote p {
	font-style: italic;
	font-weight: bold;
	font-size: 1.3em;
	
}
.reply {
	font-weight: normal;
}
section blockquote cite {
}
figure img {
	display: block;
	margin: 0 auto;
}
figure figcaption {
	text-align: center;
	font-style: italic;
}
#shaping {
	background-color: #18b7ef;
}

#fitting {
	background-color: #6c0037;
	color: #fff;
}
#contact {
	text-align: left;
	background-color: #7d6600;
	color: #fff;
}

#contact form {
	margin: 0 auto;
	max-width: 30em;
}

#contact form label {
	font-weight: bold;
}
#contact form button {
	margin: 0 auto;
	padding: 1em 1em;
	display: block;
	width:12em;
	background-color: #fff;
	font-size: 1.2em;
	font-weight: bold;
	
}
footer {
	text-align: center;
	padding: 3em 5em;
	background-color: #4a0064;
	color: #fff;
}