/* You're on you're own here... */

html {
	background-color: #888;
	padding: 1em;
	margin: 0;
	text-align: center;
}

body {
	background-color: #fff;
	margin: 0 auto;
	padding: 1em;
}
h1 {
	color: white;
	background-color: purple;
	padding: 1em;
}
h2 {
	border-top: 1px solid #999;
	padding-top: 1em;
}
p {
	max-width: 30em;
	margin: 0 auto;
}
ol, ul {
	list-style: none;
}
blockquote {
font-size: 1.2em;
	background-color: #222;
	margin: 0 auto;
	padding: 1em;
	text-align: center;
	color: #fff;
	
}
cite {
	padding-top: 1em;
	display: block;
	margin: 0 auto;
}
